body {
    font-family: fantasy;
    background: teal;
    margin: 0;
}

h1, h2 {
    font-family: fantasy;
    font-size: 35px;

    text-shadow: 1px 1px 1px rgb(196, 248, 248);
}

* {
    box-sizing: border-box;
    
}

.hidden {
    display: none;
}

header, main {
    padding: 8px;
}

/* form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid teal;
} */

input[type=radio]:checked ~ img {
    border: 5px solid blue;
}
h1 {
    margin: 0 20px;
    flex-grow: 2;
}

main {
    margin-bottom: 100px;
}


input, fieldset, button {
    border: 1px solid teal;
}

button {
    margin: 10px 0 0 50px;
    padding: 5px;
    font-size: 25px;
    font-weight: bolder;
    font-family: fantasy;

}
#avatar{
    height: 150px;
    width: 180px;
    border-radius: 50%;
}
#adventureButton:hover{
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(41, 143, 143);
}